# compiled output
src/web/dist
/tmp
/out-tsc

# dependencies
src/web/node_modules

# IDEs and editors
/.idea

# Firebase deploy
src/web/.firebaserc
src/web/database.rules.json
src/web/firebase.json
src/web/functions/

# System Files
.DS_Store
src/.DS_Store
Thumbs.db