<section id="samples">
  <div class="content-box">
    <div class="content-title">
      <h3>Muestras</h3>
      <div class="content-title-underline"></div>
    </div>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="http://lorempixel.com/400/200/sports/1" alt="Card image cap">
            <div class="card-block text-center">
              <h4 class="card-title text-center">Card title</h4>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-info">Ver <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="http://lorempixel.com/400/200/sports/1" alt="Card image cap">
            <div class="card-block text-center">
              <h4 class="card-title text-center">Card title</h4>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-info">Ver <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="http://lorempixel.com/400/200/sports/1" alt="Card image cap">
            <div class="card-block text-center">
              <h4 class="card-title text-center">Card title</h4>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-info">Ver <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
