<!-- Dash Navbar Left -->
<div class="dash-navbar-left nb-visible" [style.left]="getNavbarLeftPosition()">
  <a href="javascript:void(0)" class="nb-closebtn" (click)="onClick()">&times;</a>
  <p class="nb-nav-title">Sedes</p>
  <ul class="nb-nav">
    <li class="active" *ngFor="let site of sites">
      <a href="{{ site.ruta }}">
        <span class="glyphicon glyphicon-folder-open nb-link-icon"></span>
        <span class="nb-link-text">{{ site.nombre }}</span>
      </a>
    </li>
  </ul>
</div> <!-- /.dash-navbar-left -->