<section id="showcase" class="animated fadeIn">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div id="home-content-box">
            <div id="home-content-box-inner" class="py-4">
              <div id="home-heading" class="animated zoomIn">
                <h3>Cultura y arte en tu barrio...</h3>
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, omnis?
                </p>
              </div>
              <div id="home-btn" class="animated zoomIn">
                <a href="#samples" class="btn btn-lg btn-outline-info" role="button" title="Ver las muestras en Piñeyro">Ver Muestras</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>