$primary: #3292a6;

.navbar {
  box-shadow: 2px 2px 5px $primary;
  background-color: #fff;
  opacity: 0.91;

  .nav-item {
    padding-right: 10px;
  }
}

@media (min-width: 768px) {
  .nt-sedes-item {
    display: none;
  }
}