<div class="content">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">DERED</a></li>
          <li class="breadcrumb-item"><a routerLink="/pineiro">lavadero de lana</a></li>
          <li class="breadcrumb-item active">animales de poder</li>
        </ol>
        <gallery
          [flexBorderSize]="3"
          [flexImageSize]="7"
          [galleryName]="'animalesDePoder'">
        </gallery>
      </div>
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</div>
